<html>
    <head>
        <title> sign in </title>

    </head>
    <body>
        <form method="post" action="/user/verify/">
            <input type="text" name="name"></input>
            <input type="number" name="id">enter id
            <button>submit</button>
        </form>
        <a href="/user/all-users/"> all users</a> 
    </body>
</html>